 body{
     background-color:black;
     color:white;
 }
 .title{
     text-align:center;
     color:yellow;
 }
 #first-Section{
     color:rgb(255, 0, 0);
 }

 section{
     margin-top:5rem;
 }
.second-title{
    color:rgb(155, 255, 247);
}
#test-input{
    margin-top:2rem;
}

button{
    background-color:yellow;
    color:black;
    padding:5px;
    border-color:yellow;
    font-size:1rem;
    border-radius:5%;
}
.dark-mode{

    color:black;
    background-color:white;

}